<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>MyFitness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Materialize CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <!-- Ikony Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    body {
      background: linear-gradient(135deg, #f1f1f1, #e0f7fa);
    }
    .hero {
      padding: 80px 0;
      background: linear-gradient(to right,rgb(22, 126, 139), #00acc1);
      color: white;
    }
    .hero h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

  <!-- Nawigacja -->
    <nav class="teal">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">MyFitness</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Start</a></li>
                <li><a href="#">Treningi</a></li>
                <li><a href="#">Statystyki</a></li>
                <li><a href="{% url 'login' %}">Zaloguj</a></li>
                <li><a href="{% url 'register' %}">Rejestracja</a></li>
            </ul>
        </div>
    </nav>

    <!-- Sidenav dla urządzeń mobilnych --> 
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Start</a></li>
        <li><a href="#">Treningi</a></li>
        <li><a href="#">Statystyki</a></li>
        <li><a href="{% url 'login' %}">Zaloguj</a></li>
        <li><a href="{% url 'register' %}">Rejestracja</a></li>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>

  <!-- Właściwa zawartość -->
  {% block content %}{% endblock %}

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
