<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>MyFitness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Materialize CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <!-- Ikony Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    body {
      background: linear-gradient(135deg, #f1f1f1, #e0f7fa);
    }
    .hero {
      padding: 80px 0;
      background: linear-gradient(to right,rgb(22, 126, 139), #00acc1);
      color: white;
    }
    .hero h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

  <!-- Nawigacja -->
    <nav class="teal">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">MyFitness</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'home'%}">Start</a></li>
                <li><a href="{% url 'training_history'%}">Treningi</a></li>
                <li><a href="#">Statystyki</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                             Wyloguj
                        </a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Zaloguj</a></li>
                    <li><a href="{% url 'register' %}">Rejestracja</a></li>
                {% endif %}
                
            </ul>
        </div>
    </nav>

    <!-- Sidenav dla urządzeń mobilnych --> 
    <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'home'%}">Start</a></li>
            <li><a href="{% url 'training_history'%}">Treningi</a></li>
            <li><a href="#">Statystyki</a></li>
            {% if user.is_authenticated %}
                <li>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        Wyloguj
                    </a>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Zaloguj</a></li>
                <li><a href="{% url 'register' %}">Rejestracja</a></li>
            {% endif %}
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>

    {% if user.is_authenticated %}
      <div class="container" style="margin-top: 20px;">
        <div class="card-panel teal lighten-4 teal-text text-darken-4">
          Witaj, {{ user.username }}! Jesteś zalogowany.
        </div>
      </div>
    {% endif %}

  <!-- Właściwa zawartość -->
  {% block content %}{% endblock %}

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none;">
    {% csrf_token %}
</form>
</body>
</html>
