{% extends "base.html" %}

{% block content %}
  <div class="hero center-align">
    <div class="container">
      <h1>Twoja podróż do lepszej formy zaczyna się tutaj</h1>
      <a class="btn-large orange waves-effect waves-light" href="{% url 'add_training' %}">Rozpocznij trening!</a>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card blue lighten-2 white-text">
          <div class="card-content">
            <span class="card-title">Śledź Treningi</span>
            <p>Rejestruj swoje ćwiczenia, postępy i cele treningowe.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card green lighten-2 white-text">
          <div class="card-content">
            <span class="card-title">Zarządzaj Dietą</span>
            <p>Planuj i zapisuj posiłki. Licz kalorie i makroskładniki.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card purple lighten-2 white-text">
          <div class="card-content">
            <span class="card-title">Motywuj się</span>
            <p>Otrzymuj przypomnienia, statystyki i wykresy postępów.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
